---
layout: default
permalink: /
canonical_url: "https://urvaragro.com/"
title: "Urvaragro | Home "
image_url: assets/img/logo/logo-rgb-04.png
description: "Urvaragro is an agriculture company engaging in research to make agriculture a profitable cooperative
engagement for rural societies"
date: 2023-01-05T10:15:00Z
keywords: "Productive, agricultural, Rural, Livelihood, environmental, health, Seed, Conservation"
---
<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/banner/1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10">
                <div class="intro-body">
                  <p class="intro-title-top">Support Rural Livelihood
                  </p>
                  <h1 class="intro-title mb-4 ">
                    Productive agricultural practices for <span class="color-b">sustainable rural livelihood</span>
                  </h1>
                  <p><a class="text-white" href="/the-company">Read More..</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/urvara/hands.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10">
                <div class="intro-body">
                  <p class="intro-title-top">Value Our Stakeholders
                  </p>
                  <h1 class="intro-title mb-4">
                    Ensuring food security through <span class="color-b">conserving soil health </span> for future
                    generations
                  </h1>
                  <p><a class="text-white" href="/the-company">Read More..</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/urvara/crop.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10">
                <div class="intro-body">
                  <p class="intro-title-top">Healthy Soil
                  </p>
                  <h1 class="intro-title mb-4">
                    Improving environmental health by maintaining <span class="color-b">ecological balance </span>
                  </h1>
                  <p><a class="text-white" href="/the-company">Read More..</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/urvara/wheat-1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10">
                <div class="intro-body">
                  <p class="intro-title-top">Quality Seed
                  </p>
                  <h1 class="intro-title mb-4">
                    Seed Conservation for protecting the <span class="color-b">right to nutrition</span>
                  </h1>
                  <p><a class="text-white" href="/the-company">Read More..</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="products" class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Products</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for product in site.data.products %}
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="{{product.icon}}"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">{{product.name}}</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                {{product.description}}
              </p>
            </div>
            <div class="card-footer-c">
              <a href="/products" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
            <br>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Composition</h2>
            </div>
            <div class="title-link">
              <a href="#products">All Products
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="swiper">
        <div class="swiper-wrapper">
          {% for composition in site.data.products %}
          <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{composition.image_url_600by800}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/">{{composition.full_name}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Composition | 00:00:50</span>
                    </div>
                    <a href="{{composition.page_link}}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Doses</h4>
                        <span>{{composition.doses}}
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Usage</h4>
                        <span>{{composition.usage}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section>
</main>