 <!-- ======= Header/Navbar ======= -->
 <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
     <div class="container">
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
             data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
             aria-label="Toggle navigation">
             <span></span>
             <span></span>
             <span></span>
         </button>
         <a class="navbar-brand text-brand" href="/">
             <img src="assets/img/logo/logo.png" alt="urvaragro" height="36"><span class="color-b"></span></a>

         <div class="navbar-collapse collapse  justify-content-end" id="navbarDefault">
             <ul class="navbar-nav">
                 <li class="nav-item">
                    {% if page.url == "/" %}
                    <a class="nav-link active" href="/">Home</a>
                    {% else %}
                    <a class="nav-link" href="/">Home</a>
                    {% endif %}
                 </li>

                 <li class="nav-item">
                    {% if page.url == "/the-company" %}
                    <a class="nav-link active" href="/the-company">The Company</a>
                    {% else %}
                    <a class="nav-link" href="/the-company">The Company</a>
                    {% endif %}
                 </li>

                 <li class="nav-item">
                    {% if page.url == "/products" %}
                    <a class="nav-link active" href="/products">Products</a>
                    {% else %}
                    <a class="nav-link" href="/products">Products</a>
                    {% endif %}
                 </li>
                 <li class="nav-item">
                    {% if page.url == "/sustainability" %}
                    <a class="nav-link active" href="/sustainability">Sustainability</a>
                    {% else %}
                    <a class="nav-link" href="/sustainability">Sustainability</a>
                    {% endif %}
                 </li>
                 <li class="nav-item">
                    {% if page.url == "/contact" %}
                    <a class="nav-link active" href="/contact">Contact</a>
                    {% else %}
                    <a class="nav-link" href="/contact">Contact</a>
                    {% endif %}
                 </li>
             </ul>
         </div>

     </div>
 </nav><!-- End Header/Navbar -->