<main id="main">
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{product.ProductName}}</h1>
                        <span class="color-text-a">{{product.Composition}}</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/products">Products</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{product.ProductName}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row justify-content-between">

                        <div class="col-md-12 col-lg-12 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Product Role</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    {{product.ProductRole}}
                                </p>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Recommendation</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    {{product.Recommendation}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/img/products/500by500/{{product.Image500by500}}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</main>